Redirect 302 /registration https://www.baselarea.swiss/de/baselarea-swiss/channels/innovation-events/2017/10/BaselHack-the-hackathon-for-the-Basel-region.html
Redirect 302 /registration.en https://www.baselarea.swiss/baselarea-swiss/channels/innovation-events/2017/10/BaselHack-the-hackathon-for-the-Basel-region.html
